@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --light-gray: hsl(210, 46%, 95%);
    --gray-blue: hsl(212, 23%, 69%);
    --gray-blue-mid: hsl(214, 17%, 51%);
    --gray-blue-dark: hsl(217, 19%, 35%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    width: 100%;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 13px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 3rem;
    min-width: 23.4375rem;
    height: 100vh;
    background-color: var(--light-gray);
    margin: 0 auto;

}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, minmax(23.4375rem, 90rem));
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(78, 85, 106, .3);
    border-radius: 1rem;
    overflow: hidden;
}

.img {
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -1.5rem;
    width: 100%;
    min-height: 19rem;
    overflow: hidden;
}

.content {
    padding: 4rem 3rem 2rem;
    text-align: left;
    /* min-width: 23.4375rem; */

}

.content h1 {
    color: var(--gray-blue-dark);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

.content p {
    color: var(--gray-blue-mid);
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.4px;
    margin-bottom: 1.5rem;

}

.avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 6rem;
}

.avatar-pic {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-image: url(./images/avatar-michelle.jpg);
    background-size: contain;
    background-position: center;

}

.avatar-bio {
    display: flex;
    align-items: center;
}

.avatar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* color: var(--gray-blue-mid); */

}

.avatar-content h2 {
    color: var(--gray-blue-dark);
}

.avatar-content p {
    color: var(--gray-blue-mid);
}

ul {
    background-color: var(--gray-blue-dark);
}

li {
    width: 2rem;
    color: black;
}

.container .modal {
    position: absolute;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    background-color: var(--gray-blue-dark);
    height: 96px;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    bottom: -96px;
    opacity: 0;
    transition: all 500ms ease-in-out;


}

.container.open .modal {
    opacity: 1;
    transform: translateY(-96px);
}


.modal-int {
    display: flex;
    justify-content: safe;
    align-items: center;
    flex: 1;
    max-width: 25rem;

}

.modal-int h2 {
    color: var(--gray-blue-mid);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 10px;
    margin-right: 1rem;
}

.socials {
    display: flex;
    align-items: center;
}

.socials>* {
    margin-right: 1rem;
    width: 2rem;
}

.modal .icon {
    font-size: 1rem;
    fill: #fff;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 50%;

}

.avatar .icon {
    font-size: 1rem;
    background-color: var(--light-gray);
    padding: 0.5rem;
    border-radius: 50%;
}








.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(max-width: 560px) {
    main {
        padding: 2rem;
    }

    .content {
        text-align: center;

    }
}

@media(min-width:768px) {
    main {
        position: relative;
    }

    .container {
        grid-template-columns: repeat(9, 1fr);
        /* grid-template-columns: 1fr 1fr; */
        max-width: 90rem;
        overflow: visible;
    }

    .img {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
        background-image: url(./images/drawers.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;


    }

    .content {
        grid-column: 5 / 10;
        grid-row: 1 / 2;
        width: 100%;
    }

    .avatar {
        grid-column: 5 / 10;
        grid-row: 2;
    }



    .container .modal {
        position: absolute;
        background-color: var(--gray-blue-dark);
        height: 96px;
        width: 100%;
        border-radius: 1rem;
        bottom: 96px;
        right: -7rem;
        opacity: 0;
        transition: all 500ms ease-in-out;
        width: 20rem;
        box-shadow: 5px 5px 10px rgba(78, 85, 106, .3);
        z-index: 3;
        transform: scale(0);
    }

    .modal::before {
        position: relative;
        border-bottom: 10px solid var(--gray-blue-dark);
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-right: 6px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        height: 0;
        vertical-align: top;
        width: 0;
        transform: rotate(180deg);
        bottom: -3.5rem;
        left: 7.5rem;
    }

    .container.open .modal {
        opacity: 1;
        transform: scale(1);
    }



}